body {
  background-color: #e0e1e3 !important;
  margin-top: 0;
  margin-bottom: : 0;
}

h2{
  margin-top: 0 !important;
  border-bottom: solid thin #EEE;
  font-size: 25px;
}

/*Homepage*/

.post{
  text-align: justify;
}

.buku h4 {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
}

.readmore {
  position: absolute;
  bottom: -15px;
  right: 16px;
  float: right;
}
/*END Homepage*/

/* views/berita/read.php */

.list-berita {
  text-align: justify;
}

.list-berita ul {
  padding: 0;
  margin: 0;
}

.list-berita ul li {
  border-bottom: solid thin #EEE;
  list-style: none;
  padding: 6px 12px;
}

/*END*/

.navbar {
  margin-bottom: 20px;
}

.header{
  padding-top: 20px;
  padding-bottom: 20px;
}

.container{
  background-color: #ffff;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.sidebar-module-inset {
  padding: 1rem;
  background-color: #c2c0c0;
  border-radius: .25rem;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.navbar {
  background-image: linear-gradient(to bottom, #f7f7f7 0%,#eee 100%);
  border: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: -ms-flexbox;
    display: flex;
  }

  .navbar-nav .nav-item {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 300px;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
